<!DOCTYPE html>
<html>
<head>
<%= require('./layout/meta-common.html') %>
<title>开心购物-首页</title>
</head>
<body>
	<div class="app-hs">
		<%= require('./layout/top-nav.html') %>
		<%= require('./layout/search-box.html') %>
		<div class="wrap">
			<!-- el-container 有 display:flex -->
			<div class="el-container123">
				<div class="menu-wrap">
					<ul class="cate-list">
						<li class="cate-item">
							<a class="link" target="_blank" href="./list.html?keyword=手机">手机</a>
							<a class="link" target="_blank" href="./list.html?keyword=数码">数码</a>
						</li>
						<li class="cate-item">
							<a class="link" target="_blank" href="./list.html?keyword=电脑">电脑</a>
							<a class="link" target="_blank" href="./list.html?keyword=办公配件">办公配件</a>
						</li>
						<li class="cate-item">
							<a class="link" target="_blank" href="./list.html?keyword=电视">电视</a>
							<a class="link" target="_blank" href="./list.html?keyword=空调">空调</a>
							<a class="link" target="_blank" href="./list.html?keyword=冰箱">冰箱</a>
							<a class="link" target="_blank" href="./list.html?keyword=洗衣机">洗衣机</a>
						</li>
						<li class="cate-item">
							<a class="link" target="_blank" href="./list.html?keyword=厨卫家电">厨卫家电</a>
							<a class="link" target="_blank" href="./list.html?keyword=小家电">小家电</a>
						</li>
						<li class="cate-item">
							<a class="link" target="_blank" href="./list.html?keyword=家具">家具</a>
							<a class="link" target="_blank" href="./list.html?keyword=家具">家具</a>
							<a class="link" target="_blank" href="./list.html?keyword=家装">家装</a>
						</li>
						<li class="cate-item">
							<a class="link" target="_blank" href="./list.html?keyword=厨卫家电">厨卫家电</a>
							<a class="link" target="_blank" href="./list.html?keyword=小家电">小家电</a>
						</li>
						<li class="cate-item">
							<a class="link" target="_blank" href="./list.html?keyword=个护化妆">个护化妆</a>
							<a class="link" target="_blank" href="./list.html?keyword=清洁用品">清洁用品</a>
							<a class="link" target="_blank" href="./list.html?keyword=纸品">纸品</a>
						</li>
						<li class="cate-item">
							<a class="link" target="_blank" href="./list.html?keyword=母婴用品">母婴用品</a>
							<a class="link" target="_blank" href="./list.html?keyword=儿童玩具">儿童玩具</a>
							<a class="link" target="_blank" href="./list.html?keyword=童装童鞋">童装童鞋</a>
						</li>
						<li class="cate-item">
							<a class="link" target="_blank" href="./list.html?keyword=鞋靴">鞋靴</a>
							<a class="link" target="_blank" href="./list.html?keyword=箱包">箱包</a>
							<a class="link" target="_blank" href="./list.html?keyword=钟表">钟表</a>
							<a class="link" target="_blank" href="./list.html?keyword=珠宝">珠宝</a>
						</li>
						<li class="cate-item">
							<a class="link" target="_blank" href="./list.html?keyword=图书">图书</a>
							<a class="link" target="_blank" href="./list.html?keyword=音像">音像</a>
							<a class="link" target="_blank" href="./list.html?keyword=电子书">电子书</a>
						</li>
					</ul>
					<div id="J_popCtn" class="JS_popCtn cate_pop">
						<div class="cate_part clearfix" id="cate_item2" data-id="b">
							<div class="cate_part_col1">
								<div class="cate_channel">
									<a href="javascript:;" class="link cate_channel_lk" clstag="h|keycount|head|category_02b01" target="_blank">
										玩3C
										<i class="el-icon-arrow-right"></i>
									</a>
									<a href="javascript:;" class="link cate_channel_lk" clstag="h|keycount|head|category_02b02" target="_blank">
										手机频道
										<i class="el-icon-arrow-right"></i>
									</a>
									<a href="javascript:;" class="link cate_channel_lk" clstag="h|keycount|head|category_02b03" target="_blank">
										网上营业厅
										<i class="el-icon-arrow-right"></i>
									</a>
									<a href="javascript:;" class="link cate_channel_lk" clstag="h|keycount|head|category_02b04" target="_blank">
										配件选购中心
										<i class="el-icon-arrow-right"></i>
									</a>
									<a href="javascript:;" class="link cate_channel_lk" clstag="h|keycount|head|category_02b05" target="_blank">
										手机企业购
										<i class="el-icon-arrow-right"></i>
									</a>
									<a href="javascript:;" class="link cate_channel_lk" clstag="h|keycount|head|category_02b06" target="_blank">
										以旧换新
										<i class="el-icon-arrow-right"></i>
									</a>
								</div>
								<div class="cate_detail">
									<dl class="cate_detail_item cate_detail_item1">
										<dt class="cate_detail_tit" clstag="h|keycount|head|category_02c01">
											<a href="javascript:;" class="link cate_detail_tit_lk" target="_blank">
												手机通讯
												<i class="el-icon-arrow-right"></i>
											</a>
										</dt>
										<dd class="cate_detail_con" clstag="h|keycount|head|category_02d01">
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">手机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">游戏手机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">老人机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">对讲机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">以旧换新</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">手机维修</a>
										</dd>
									</dl>
									<dl class="cate_detail_item cate_detail_item2">
										<dt class="cate_detail_tit" clstag="h|keycount|head|category_02c02">
											<a href="javascript:;" class="link cate_detail_tit_lk" target="_blank">
												运营商
												<i class="el-icon-arrow-right"></i>
											</a>
										</dt>
										<dd class="cate_detail_con" clstag="h|keycount|head|category_02d02">
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">合约机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">选号码</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">固话宽带</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">办套餐</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">充话费/流量</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">中国电信</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">中国移动</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">中国联通</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">京东通信</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">170选号</a>
										</dd>
									</dl>
									<dl class="cate_detail_item cate_detail_item3">
										<dt class="cate_detail_tit" clstag="h|keycount|head|category_02c03">
											<a href="javascript:;" class="link cate_detail_tit_lk" target="_blank">
												手机配件
												<i class="el-icon-arrow-right"></i>
											</a>
										</dt>
										<dd class="cate_detail_con" clstag="h|keycount|head|category_02d03">
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">手机壳</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">贴膜</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">手机存储卡</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">数据线</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">充电器</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">无线充电器</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">手机耳机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">创意配件</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">手机饰品</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">手机电池</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">苹果周边</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">移动电源</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">蓝牙耳机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">手机支架</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">车载配件</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">拍照配件</a>
										</dd>
									</dl>
									<dl class="cate_detail_item cate_detail_item4">
										<dt class="cate_detail_tit" clstag="h|keycount|head|category_02c04">
											<a href="javascript:;" class="link cate_detail_tit_lk" target="_blank">
												摄影摄像
												<i class="el-icon-arrow-right"></i>
											</a>
										</dt>
										<dd class="cate_detail_con" clstag="h|keycount|head|category_02d04">
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">数码相机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">单电/微单相机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">单反相机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">拍立得</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">运动相机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">摄像机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">镜头</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">户外器材</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">影棚器材</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">冲印服务</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">数码相框</a>
										</dd>
									</dl>
									<dl class="cate_detail_item cate_detail_item5">
										<dt class="cate_detail_tit" clstag="h|keycount|head|category_02c05">
											<a href="javascript:;" class="link cate_detail_tit_lk" target="_blank">
												数码配件
												<i class="el-icon-arrow-right"></i>
											</a>
										</dt>
										<dd class="cate_detail_con" clstag="h|keycount|head|category_02d05">
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">存储卡</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">三脚架/云台</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">相机包</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">滤镜</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">闪光灯/手柄</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">相机清洁/贴膜</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">机身附件</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">镜头附件</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">读卡器</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">支架</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">电池/充电器</a>
										</dd>
									</dl>
									<dl class="cate_detail_item cate_detail_item6">
										<dt class="cate_detail_tit" clstag="h|keycount|head|category_02c06">
											<a href="javascript:;" class="link cate_detail_tit_lk" target="_blank">
												影音娱乐
												<i class="el-icon-arrow-right"></i>
											</a>
										</dt>
										<dd class="cate_detail_con" clstag="h|keycount|head|category_02d06">
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">耳机/耳麦</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">音箱/音响</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">智能音箱</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">便携/无线音箱</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">收音机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">麦克风</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">MP3/MP4</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">专业音频</a>
										</dd>
									</dl>
									<dl class="cate_detail_item cate_detail_item7">
										<dt class="cate_detail_tit" clstag="h|keycount|head|category_02c07">
											<a href="javascript:;" class="link cate_detail_tit_lk" target="_blank">
												智能设备
												<i class="el-icon-arrow-right"></i>
											</a>
										</dt>
										<dd class="cate_detail_con" clstag="h|keycount|head|category_02d07">
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">智能手环</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">智能手表</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">智能眼镜</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">智能机器人</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">运动跟踪器</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">健康监测</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">智能配饰</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">智能家居</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">体感车</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">无人机</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">其他配件</a>
										</dd>
									</dl>
									<dl class="cate_detail_item cate_detail_item8">
										<dt class="cate_detail_tit" clstag="h|keycount|head|category_02c08">
											<a href="javascript:;" class="link cate_detail_tit_lk" target="_blank">
												电子教育
												<i class="el-icon-arrow-right"></i>
											</a>
										</dt>
										<dd class="cate_detail_con" clstag="h|keycount|head|category_02d08">
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">学生平板</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">点读机/笔</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">早教益智</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">录音笔</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">电纸书</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">电子词典</a>
											<a href="javascript:;" class="cate_detail_con_lk" target="_blank">复读机</a>
										</dd>
									</dl>
								</div>
							</div>
							<div class="cate_part_col2">
								<div class="cate_brand">
									<a href="javascript:;" class="cate_brand_lk" clstag="h|keycount|head|category_02e01" target="_blank">
										<img data-lazy-img="//img10.360buyimg.com/vclist/jfs/t14128/305/889686186/2374/1614f087/5a1669f5N5f386fbb.jpg" width="83" height="35" src="//img10.360buyimg.com/vclist/jfs/t14128/305/889686186/2374/1614f087/5a1669f5N5f386fbb.jpg" data-webp="no"></a>
									<a href="javascript:;" class="cate_brand_lk" clstag="h|keycount|head|category_02e02" target="_blank">
										<img data-lazy-img="//img11.360buyimg.com/vclist/jfs/t14251/128/2256188863/2639/64719c4d/5a77ce09N79baf2a3.jpg" width="83" height="35" src="//img11.360buyimg.com/vclist/jfs/t14251/128/2256188863/2639/64719c4d/5a77ce09N79baf2a3.jpg" data-webp="no"></a>
									<a href="javascript:;" class="cate_brand_lk" clstag="h|keycount|head|category_02e03" target="_blank">
										<img data-lazy-img="//img12.360buyimg.com/vclist/jfs/t2272/318/2089033366/4237/3d96b593/56a72d4fN4d1b42fe.jpg" width="83" height="35" src="//img12.360buyimg.com/vclist/jfs/t2272/318/2089033366/4237/3d96b593/56a72d4fN4d1b42fe.jpg" data-webp="no"></a>
									<a href="javascript:;" class="cate_brand_lk" clstag="h|keycount|head|category_02e04" target="_blank">
										<img data-lazy-img="//img13.360buyimg.com/vclist/jfs/t18946/102/2510020395/2654/f8c52c48/5af8ec82Nc5ae4f0e.jpg" width="83" height="35" src="//img13.360buyimg.com/vclist/jfs/t18946/102/2510020395/2654/f8c52c48/5af8ec82Nc5ae4f0e.jpg" data-webp="no"></a>
									<a href="javascript:;" class="cate_brand_lk" clstag="h|keycount|head|category_02e05" target="_blank">
										<img data-lazy-img="//img14.360buyimg.com/vclist/jfs/t14938/207/2695915503/6411/106ff1c7/5aaf1c63N1fb1c68e.jpg" width="83" height="35" src="//img14.360buyimg.com/vclist/jfs/t14938/207/2695915503/6411/106ff1c7/5aaf1c63N1fb1c68e.jpg" data-webp="no"></a>
									<a href="javascript:;" class="cate_brand_lk" clstag="h|keycount|head|category_02e06" target="_blank">
										<img data-lazy-img="//img10.360buyimg.com/vclist/jfs/t15505/173/2529157702/5299/b3754233/5aaf1cf6Nf7edd926.jpg" width="83" height="35" src="//img10.360buyimg.com/vclist/jfs/t15505/173/2529157702/5299/b3754233/5aaf1cf6Nf7edd926.jpg" data-webp="no"></a>
									<a href="javascript:;" class="cate_brand_lk" clstag="h|keycount|head|category_02e07" target="_blank">
										<img data-lazy-img="//img11.360buyimg.com/vclist/jfs/t16912/237/2202955347/3553/4bcdeda2/5ae938a6Ndc02117a.jpg" width="83" height="35" src="//img11.360buyimg.com/vclist/jfs/t16912/237/2202955347/3553/4bcdeda2/5ae938a6Ndc02117a.jpg" data-webp="no"></a>
									<a href="javascript:;" class="cate_brand_lk" clstag="h|keycount|head|category_02e08" target="_blank">
										<img data-lazy-img="//img12.360buyimg.com/vclist/jfs/t17674/227/917411048/7510/4a433471/5aaf1caeNdfa17b73.jpg" width="83" height="35" src="//img12.360buyimg.com/vclist/jfs/t17674/227/917411048/7510/4a433471/5aaf1caeNdfa17b73.jpg" data-webp="no"></a>
								</div>
								<div class="cate_promotion">
									<a href="javascript:;" class="cate_promotion_lk" clstag="h|keycount|head|category_02f01" target="_blank">
										<img data-lazy-img="//img13.360buyimg.com/vclist/jfs/t21601/151/250528907/5194/e7030936/5b06e60eNc2bcc379.jpg" width="168" height="134" src="//img13.360buyimg.com/vclist/jfs/t21601/151/250528907/5194/e7030936/5b06e60eNc2bcc379.jpg" data-webp="no"></a>
									<a href="javascript:;" class="cate_promotion_lk" clstag="h|keycount|head|category_02f02" target="_blank">
										<img data-lazy-img="//img14.360buyimg.com/vclist/jfs/t20011/63/523164918/27998/c75722ef/5af8fb9fNa8941eb0.jpg" width="168" height="134" src="//img14.360buyimg.com/vclist/jfs/t20011/63/523164918/27998/c75722ef/5af8fb9fNa8941eb0.jpg" data-webp="no"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="banner-wrap">
					<div class="slider-box">
						<ul>
							<li><img src="<%= require("../assets/images/banner2.jpg") %>" alt=""></li>
						</ul>
					</div>
					<!-- <div class="loading"></div> -->
				</div>
				<div class="floor-wrap">
					<h3 class="floor-title">F1 家用电器</h3>
					<ul class="floor-list">
						<li class="floor-item">
							<a href="./list.html?categoryId=100006">
								<span class="floor-text">双开门冰箱</span>
								<div class="floor-img-box">
									<img class="floor-img" src="<%= require("../assets/images/floor/floor1-1.jpg") %>" alt="双开门冰箱" />
								</div>
							</a>
						</li>
						<li class="floor-item">
							<a href="./list.html?categoryId=100006">
								<span class="floor-text">电视</span>
								<div class="floor-img-box">
									<img class="floor-img" src="<%= require("../assets/images/floor/floor1-2.jpg") %>" alt="电视" />
								</div>
							</a>
						</li>
						<li class="floor-item">
							<a href="./list.html?categoryId=100006">
								<span class="floor-text">双开门冰箱</span>
								<div class="floor-img-box">
									<img class="floor-img" src="<%= require("../assets/images/floor/floor1-1.jpg") %>" alt="双开门冰箱" />
								</div>
							</a>
						</li>
						<li class="floor-item">
							<a href="./list.html?categoryId=100006">
								<span class="floor-text">双开门冰箱</span>
								<div class="floor-img-box">
									<img class="floor-img" src="<%= require("../assets/images/floor/floor1-1.jpg") %>" alt="双开门冰箱" />
								</div>
							</a>
						</li>
						<li class="floor-item">
							<a href="./list.html?categoryId=100006">
								<span class="floor-text">双开门冰箱</span>
								<div class="floor-img-box">
									<img class="floor-img" src="<%= require("../assets/images/floor/floor1-1.jpg") %>" alt="双开门冰箱" />
								</div>
							</a>
						</li>
						<li class="floor-item">
							<a href="./list.html?categoryId=100006">
								<span class="floor-text">双开门冰箱</span>
								<div class="floor-img-box">
									<img class="floor-img" src="<%= require("../assets/images/floor/floor1-1.jpg") %>" alt="双开门冰箱" />
								</div>
							</a>
						</li>
						<li class="floor-item">
							<a href="./list.html?categoryId=100006">
								<span class="floor-text">双开门冰箱</span>
								<div class="floor-img-box">
									<img class="floor-img" src="<%= require("../assets/images/floor/floor1-1.jpg") %>" alt="双开门冰箱" />
								</div>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<%= require('./layout/footer.html') %>
</body>
</html>



			<!-- <a href="javascript:;" class="link">test</a> -->
			<!-- <a href="javascript:;" class="link-text">test</a> -->
			<!-- <div class="el-icon-loading"></div> -->
	<!-- 		<div>
				<i class="el-icon-edit"></i>
				<i class="el-icon-share"></i>
				<i class="el-icon-delete"></i>
			</div> -->


			<!-- htmlWebpackPlugin.options.title -->