<!DOCTYPE html>
<html>
<head>
<%= require('./layout/meta-common.html') %>
<title>开心购物-修改密码</title>
</head>
<body>
	<div class="app-hs">
		<%= require('./layout/top-nav.html') %>
		<%= require('./layout/search-box.html') %>

		<div role="navigation" class="el-breadcrumb">
			<div class="wrap">
				<span class="el-breadcrumb__item">
					<a href="./app.html"><span class="el-breadcrumb__inner">首页</span></a>
					<span class="el-breadcrumb__separator">/</span>
				</span>
				<span class="el-breadcrumb__item">
					<a href="./app.html"><span class="el-breadcrumb__inner">修改密码</span></a>
					<span class="el-breadcrumb__separator">/</span>
				</span>
			</div>
		</div>

		<div class="el-container wrap">
			<%= require('./layout/aside.html') %>
			<div class="el-main user-center-con">
				<h2>修改密码</h2>
				<div class="user-center-info">
					<ul class="layout-lr">
						<li>
							<span class="item">旧密码：</span>
							<div class="con">
								<input type="password" class="user-content" id="oldPassword" placeholder="请输入旧密码">
							</div>
						</li>
						<li>
							<span class="item">新密码：</span>
							<div class="con">
								<input type="password" class="user-content" id="newPassword" placeholder="请输入新密码">
							</div>
						</li>
						<li>
							<span class="item">确认新密码：</span>
							<div class="con">
								<input type="password" class="user-content" id="newPasswordConfirm" placeholder="请再次输入新密码">
							</div>
						</li>
					</ul>
					<button type="button" class="el-button el-button--primary el-button--medium no-radius" id="submitNewPassword">提交</button>
				</div>
			</div>
		</div>
		
	</div>
	<%= require('./layout/footer.html') %>
</body>
</html>











